/*-------------------Dice--------------------*/

h1 {
    background-color: burlywood;
}

body {
    background-color: beige;
}

td {
    text-align: center;
    vertical-align: center;
}

#roll {
    width: 100%;
}

#player1:hover,
#player2:hover {
    cursor: pointer;
}

#progress1,
#progress2 {
    width: 100%;
    background-color: grey;
}

#bar1, #bar2 {
    width: 1%;
    height: 20px;
    background-color: green;
}

/*-------------- Fifteen Puzzle----------------*/

input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

#start {
    width: 105px;
    height: 50px;
    text-align: center;
    font-size: 20px;
}

/*----------------Bulls and Cows-------------*/

#ent {
    width: 100%;
}

/*------------------RPS----------------------*/

#go {
    width: 100%;
}

/*-----------------Hanoi---------------------*/

#button1, #button2, 
#button3, #level {
    background-color: lightgrey;
}